html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.dashboard {
  display: flex;
}
.dashboard form {
  margin-left: auto;
}

.content {
  width: 350px;
}
.content .tools-header {
  display: flex;
}
.content .tools-header .feedback {
  margin-left: auto;
}
.content .tools-header .filter {
  display: flex;
  gap: 3px;
}
.content article .start_new_repo {
  background: #52525b;
  color: #fafafa;
  padding-bottom: 4.575rem;
}
.content article .start_new_repo .check {
  display: flex;
}
.content article .start_new_repo .check input {
  width: 20px;
  margin: 0;
}
.content article .start_new_repo .type_repo {
  display: flex;
}
.content article .Help {
  background: #52525b;
  color: #fafafa;
}
.content article .Help .help-repository {
  margin-bottom: 10px;
}
.content article .start-code {
  display: flex;
}
.content article .start-code .remove {
  margin-left: auto;
}

.lastest-changes {
  width: 500px;
  background: #0f172a;
  color: #fafafa;
}
.lastest-changes .lastest-changes-text .dot {
  position: absolute;
}
.lastest-changes .lastest-changes-text hr {
  position: relative;
  left: -34px;
  top: 46px;
  z-index: -1;
  width: 80px;
  margin-left: 0;
  rotate: 90deg;
}
.lastest-changes .lastest-changes-text .lastest-changes-body {
  position: relative;
  left: 20px;
}
.lastest-changes .lastest-changes-text:last-child {
  margin-bottom: 10px;
}
.lastest-changes .view-changelog {
  position: relative;
  left: 20px;
}

.explore {
  background: #0f172a;
  color: #fafafa;
  width: 500px;
}
.explore span {
  display: flex;
}
.explore span button {
  margin-left: 40px;
}
.explore span button:focus {
  fill: yellow;
}
.explore .explore-repos-description {
  display: flex;
  gap: 10px;
}
.explore .explore-repos-description .color {
  width: 20px;
  height: 20px;
  background: #facc15;
  border-radius: 50%;
}
.explore hr {
  width: 97%;
}

.my-repositories {
  padding-bottom: 1.5rem;
  background: #0f172a;
  color: #fafafa;
  width: 24rem;
}
.my-repositories .repository {
  font-size: 1rem;
}
.my-repositories .new {
  display: flex;
}
.my-repositories .add-repo {
  display: flex;
}
.my-repositories .add-repo .new {
  margin-left: 10rem;
}
.my-repositories .add-repo .top-repositories {
  margin-left: 1.5rem;
}
.my-repositories .repository,
.my-repositories .show-more-repositories,
.my-repositories .activity {
  margin-left: 1.5rem;
}
.my-repositories .activity-text {
  margin: 1.5rem;
  margin-bottom: 0;
  width: 17rem;
}
.my-repositories .activity-text {
  padding: 1.5rem;
  border: 3px solid #e2e8f0;
  border-style: dashed;
}

form input {
  margin-left: 1.5rem;
  width: 20rem;
  height: 1.5rem;
}
form input:focus {
  border: 2px solid #0ea5e9;
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
