html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.dashboard {
  display: flex;
  border-bottom: 1px solid #52525b;
  padding: 10px;
}
.dashboard form {
  margin-left: auto;
}

.content {
  width: 30.25rem;
  position: absolute;
  left: 35%;
  margin-left: -15.125rem;
}
.content .tools-header {
  display: flex;
  color: #fafafa;
}
.content .tools-header .feedback {
  margin-left: auto;
  color: #fafafa;
  position: relative;
  left: 100%;
}
.content .tools-header .filter {
  position: relative;
  left: 100%;
  display: flex;
  gap: 3px;
}
.content article .start_new_repo {
  background: #52525b;
  color: #fafafa;
  padding-bottom: 4.575rem;
}
.content article .start_new_repo .check {
  display: flex;
  margin-bottom: 10px;
}
.content article .start_new_repo .check .round-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
}
.content article .start_new_repo .check .round-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.content article .start_new_repo .check .round-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #09090b;
  border: 2px solid #09090b;
  border-radius: 50%;
}
.content article .start_new_repo .check .round-checkbox input:checked ~ .checkmark {
  background-color: #0ea5e9;
  border: 2px solid #0ea5e9;
}
.content article .start_new_repo .check .round-checkbox input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #09090b;
  border-radius: 50%;
}
.content article .start_new_repo .check input {
  width: 20px;
  margin: 0;
}
.content article .start_new_repo .type_repo {
  display: flex;
}
.content article .Help {
  background: #52525b;
  color: #fafafa;
  position: absolute;
  left: 100%;
  top: 3rem;
  width: 30.25rem;
}
.content article .help-repository {
  margin-bottom: 10px;
}
.content .start-code {
  color: #fafafa;
  display: flex;
}
.content .start-code .code {
  background: #52525b;
  border-radius: 30px;
  height: 24px;
  width: 24px;
}
.content .start-code .remove {
  margin-left: auto;
  position: relative;
  left: 100%;
}

.lastest-changes {
  width: 30.25rem;
  background: #0f172a;
  color: #fafafa;
  position: absolute;
  left: 200%;
  top: 0;
  padding: 1rem;
}
.lastest-changes .lastest-changes-text .dot {
  position: absolute;
}
.lastest-changes .lastest-changes-text hr {
  position: relative;
  left: -34px;
  top: 46px;
  z-index: -1;
  width: 80px;
  margin-left: 0;
  rotate: 90deg;
}
.lastest-changes .lastest-changes-text .lastest-changes-body {
  position: relative;
  left: 20px;
}
.lastest-changes .lastest-changes-text:last-child {
  margin-bottom: 10px;
}
.lastest-changes .view-changelog {
  position: relative;
  left: 20px;
}

.explore {
  background: #0f172a;
  color: #fafafa;
  width: 30.25rem;
  position: absolute;
  left: 200%;
  top: 140%;
  padding: 1rem;
}
.explore span {
  display: flex;
}
.explore span button {
  margin-left: 40px;
}
.explore span button:focus {
  fill: #fbbf24;
}
.explore .explore-repos-description {
  display: flex;
  gap: 10px;
}
.explore .explore-repos-description .color {
  width: 20px;
  height: 20px;
  background: #fbbf24;
  border-radius: 50%;
}
.explore hr {
  width: 97%;
}

.modal-content {
  z-index: 1;
  visibility: hidden;
  display: grid;
  position: absolute;
  background: #fafafa;
  left: 20%;
  gap: 5px;
}
.modal-content button {
  width: 5rem;
}

.my-repositories {
  z-index: 0;
  overflow: scroll;
  position: fixed;
  padding-bottom: 1.5rem;
  background: #0f172a;
  color: #fafafa;
  width: 24rem;
  height: 100vh;
}
.my-repositories .show-more-repositories[type=checkbox] {
  height: 5rem;
  width: 5rem;
  display: block;
  appearance: none;
}
.my-repositories .show-more-label {
  z-index: -1;
  position: relative;
  bottom: 2.75rem;
  left: 1.25rem;
  padding: 1rem;
  color: #fafafa;
  cursor: pointer;
}
.my-repositories .show-more-label:before {
  content: "Read More";
}
.my-repositories .show-more-repositories[type=checkbox]:checked ~ label:before {
  content: "Read Less";
}
.my-repositories .extra:has(~ input[type=checkbox]:checked) {
  display: none;
}
.my-repositories .repository {
  font-size: 1rem;
}
.my-repositories .new {
  display: flex;
}
.my-repositories .add-repo {
  display: flex;
}
.my-repositories .add-repo .new {
  margin-left: 10rem;
}
.my-repositories .add-repo .top-repositories {
  margin-left: 1.5rem;
}
.my-repositories .repository,
.my-repositories .show-more-repositories,
.my-repositories .activity {
  margin-left: 1.5rem;
}
.my-repositories .activity-text {
  margin: 1.5rem;
  margin-bottom: 0;
  width: 17rem;
}
.my-repositories .activity-text {
  padding: 1.5rem;
  border: 3px solid #e2e8f0;
  border-style: dashed;
}

form input {
  margin-left: 1.5rem;
  width: 20rem;
  height: 1.5rem;
}
form input:focus {
  border: 2px solid #0ea5e9;
  outline: none;
}

body {
  background: #09090b;
}

/*# sourceMappingURL=styles.css.map */
