$width-of-home: 30.25rem;
$width-of-latest-changes: 30.25rem;
$margin-content : -30.25rem;
$margin-content-help: -60.5rem;
$padding : 1rem;

@mixin left($left, $position) {
  position: $position;
  left: $left;
}

@mixin top($top) {
  top: $top;
}

.content {
  width: $width-of-home;
  @include left(35%, absolute);
  margin-left: calc($margin-content / 2);


  .tools-header {
    display: flex;
    color: $white-color;


    .feedback {
      margin-left: auto;
      color: $white-color;
      @include left(100%, relative);

    }

    .filter {
      @include left(100%, relative);
      display: flex;
      gap: 3px;
    }

  }


  article {
    .start_new_repo {
      background: $gray-color;

      .check {
        display: flex;
        margin-bottom: 10px;

        input {
          width: 20px;
          margin: 0;
        }
      }


      color: $white-color;
      padding-bottom: 4.575rem;

      .type_repo {
        display: flex;
      }
    }

    .Help {
      background: $gray-color;
      color: $white-color;
      @include left(100%, absolute);
      @include top(3rem);
      width: $width-of-home;
    }

    .help-repository {
      margin-bottom: 10px;
    }
  }

  .start-code {
    color: $white-color;
    display: flex;

    .code {
      background: $gray-color;
      border-radius: 30px;
      height: 24px;
      width: 24px;
    }

    .remove {
      margin-left: auto;
      @include left(100%, relative);
    }
  }
}

.lastest-changes {
  width: $width-of-latest-changes;
  background: $semi-black-color;
  color: $white-color;
  @include left(200%, absolute);
  @include top(0);
  padding: $padding;


  .lastest-changes-text {

    .dot {
      position: absolute;
    }

    hr {
      position: relative;
      left: -34px;
      top: 46px;
      z-index: -1;
      width: 80px;
      margin-left: 0;
      rotate: 90deg;
    }

    .lastest-changes-body {
      position: relative;
      left: 20px;
    }

    &:last-child {
      margin-bottom: 10px;
    }

  }

  .view-changelog {
    position: relative;
    left: 20px;
  }
}

.explore {
  background: $semi-black-color;
  color: $white-color;
  width: $width-of-latest-changes;
  @include left(200%, absolute);
  @include top(140%);
  padding: $padding;

  span {
    display: flex;

    button {
      margin-left: 40px;

      &:focus {
        fill: $yellow-color;
      }
    }
  }

  .explore-repos-description {
    display: flex;
    gap: 10px;

    .color {
      width: 20px;
      height: 20px;
      background: $yellow-color;
      border-radius: 50%;
    }
  }

  hr {
    width: 97%;
  }
}
