$space-between-dot-and-text: 1.5rem;
$my-repos-width: 24rem;

.modal-content {
  z-index: 1;
  visibility: hidden;
  display: grid;
  position: absolute;
  background: $white-color;
  left: 20%;
  gap: 5px;

  button {
    width: 5rem;
  }

}

.my-repositories {
  z-index: 0;
  overflow: scroll;
  position: fixed;
  padding-bottom: $space-between-dot-and-text;
  background: $semi-black-color;
  color: $white-color;
  width: $my-repos-width;
  height: 100vh;

  .show-more-repositories[type="checkbox"] {
    height: 5rem;
    width: 5rem;
    display: block;
    appearance: none;
  }

  .show-more-label {
    z-index: -1;
    position: relative;
    bottom: 2.75rem;
    left: 1.25rem;
    padding: 1rem;
    color: $white-color;
    cursor: pointer;
  }

  .show-more-label:before {
    content: "Read More";
  }

  .show-more-repositories[type="checkbox"]:checked~label:before {
    content: "Read Less";
  }

  .extra:has(~ input[type="checkbox"]:checked) {
    display: none;
  }

  .repository {
    font-size: 1rem;
  }

  .new {
    display: flex;
  }

  .add-repo {
    display: flex;

    .new {
      margin-left: 10rem;
    }

    .top-repositories {
      margin-left: $space-between-dot-and-text;
    }
  }

  .repository,
  .show-more-repositories,
  .activity {
    margin-left: $space-between-dot-and-text;
  }

  .activity-text {
    margin: $space-between-dot-and-text;
    margin-bottom: 0;
    width: 17rem;
  }

  .activity-text {
    padding: 1.5rem;
    border: 3px solid $recent-activity-border-color;
    border-style: dashed;
  }
}

form {
  input {
    margin-left: $space-between-dot-and-text;
    width: 20rem;
    height: 1.5rem;

    &:focus {
      border: 2px solid $input-outline-color;
      outline: none;
    }
  }
}
