$width-of-home: 350px;
$width-of-latest-changes: 500px;

$gray-color: gray;

.content {
  width: $width-of-home;

  .tools-header {
    display: flex;

    .feedback {
      margin-left: auto;

    }

    .filter {
      display: flex;
      gap: 3px;
    }

  }

  article {
    .start_new_repo {
      background: $gray-color;
      padding-bottom: 4.575rem;
    }

    .Help {
      background: $gray-color;

      .help-repository {
        margin-bottom: 10px;
      }
    }

    .start-code {
      display: flex;

      .remove {
        margin-left: auto;
      }
    }
  }
}

.lastest-changes {
  width: $width-of-latest-changes;
}
